<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일별 매출 요약</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>📊 일별 매출 요약</h1>

<p class = "nav-Link">
  <a href="/sales/add">➕ 신규 매출 등록하기</a>
</p>

<table>
<!--  머리부분-->
  <thead>
  <tr>
    <th>날짜</th>
    <th>총 주문액</th>
    <th>주문 수 </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="sale: ${sales}">
    <td th:text="${sale.saleDate}">2025-01-01</td>
    <td th:text="${#numbers.formatDecimal(sale.totalAmount, 0, 'COMMA', 2, 'POINT')}">0</td>
<!--    빅데시멀이라 메소드를 통해 가져오도록 함-->
<!--    numbers : 숫자서식 지정 / formatDecimal : Decimal-10진수 형태로 만들어줌 / sale.totalAmount :10진수 형식으로 할 숫자-->
<!--    COMMA : 1000단위마다 ,끊어주는 구분자 / 2.point : 소수점 두자리까지 point로 표시-->
    <td  th:text="${sale.orderCount}">0</td>
  </tr>
  </tr>

  </tbody>
</table>

<p class="nav-link">
  <a href="/customer-ranking">고객별 소비 랭킹 보기 →</a>
</p>

</body>
</html>